* {
    font-size: 12px;
    color: #FAFAFA;
    font-family: "Menlo", "Monaco", "Consolas", monospace !important;
}


body, div, input, button {
    background-color: #111;
}

banana {
    color: #aaa;
}

.hide {
	display: none !important;
}



div#form{
	height: 40px;
	background-color: #333;
	width: 100%;
	bottom: 0;
	left: 0;
}
div#form ,
div#form > * {
	padding: 0;
	margin: 0;
	border: none;
	position: fixed;
	z-index: 9999;
}

div#form > input {
	width: calc(100% - 130px);
	bottom: 10px;
	left: 10px;

}
div#form > button {
	width: 100px;
	right: 10px;
	bottom: 10px;
}



div#out{
	display: block;
	height: calc(100% - 40px);
	top: 0;
	margin-bottom: 40px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	overflow: scroll;
}


#console-current-line{
/*	background-color: #ffa;
	height: 20px;
*/}

/*
 *http://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css3
 */

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: step-start;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



body {
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1; 
}
::-webkit-scrollbar {
    width: 0px;
}